<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each payload}}
            <li>
                <strong>{{this.title}}</strong>: {{this.price}} USD
            </li>
        {{/each}}
    </ul>

    <!-- Paginación -->
    <div>
        {{#if hasPrevPage}}
            <a href="?page={{prevPage}}">⬅ Anterior</a>
        {{/if}}
        <span>Página {{page}} de {{totalPages}}</span>
        {{#if hasNextPage}}
            <a href="?page={{nextPage}}">Siguiente ➡</a>
        {{/if}}
    </div>
</body>
</html>